@media screen and (max-width: 375px) {
	.wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "content"
            "nav";
    }
	
	.main-head, .side, .ad, .main-footer {
        display: none;
        visibility: hidden;
        position: absolute;
    }
}